@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  box-sizing: border-box; 
  font-family: 'Roboto Mono',monospace; 
}

:root{
  --milk:270,217,205;
  --snow:255,250,250;
}

html,body{
  margin:0;
  padding:0;
  background-color: rgba(var(--milk),1);
}

.header{
    width:100%;
    padding:15px;
}

.heading-text{
    text-align: center;
    font-weight: normal;
}

.container{
  width:100%;
  display:flex;
  padding:10px;
}

.controls{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn{
  width:200px;
  height:50px;
  margin:5px 0 5px 0;
  text-decoration: none;
  outline: none;
  border:none;
  transition: all 0.5s;
}

input.btn:hover{
  background-color: rgba(var(--milk),0.5);
}

button.btn:hover{
  background-color: rgba(var(--milk),0.5);
}

.search-container{
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.text{
  border:none;
  height:30px;
  width: 500px;
  outline:none;
}

.findMe{
  width:auto;
  padding:5px;
  height:30px;
}

.list{
  width:100%;
  margin:10px;  
  border-spacing: 0;
  border-collapse: collapse;
}

.list-heading{
  background-color: rgba(var(--snow),1);
  text-align: center;
  margin:0;
}

.list-row{
  text-align: center;
}

.form-popup{
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
